.colorTan{
    color: #F2E9D9;
}
.colorWhite{
    color: #FFFFFF;
}
.colorBrown{
    color: #5F002B;
}
.colorDarkPink{
    color: #980051;
}
.nav-link{
    color: #5F002B !important;
}
.fontStyle4{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
}
.fontStyle5{
    font-family: 'Fugaz One', cursive;
}

.MainHeroImage{
    background-image: url("../images/bgtexture.jpg");
    background-size: cover;
    height: 100vh;
    display: relative;
    background-position: center;
}
.MainFriesImage{
    width: 674px;
    height: 449.5px;
}
.MainMiddleMargin{
    margin-top: 50px;
}
.MainContentTitle{
    font-size: 50px;
    color: #5F002B;
}
.MainContentText{
    font-size: 20px;
    color: #5F002B;
}
.topText{
    text-align: right;
}
.PhotoHeroImage{
    background-image: url("../images/bgtexture.jpg");
    background-size: cover;
    height: 100vh;
    display: relative;
    background-position: center;
}
.BackgroundMainWhite{
    background-color: #FFFFFF;
}

.NavTextEnd{
    display: flex;
    justify-content: end;
}

.MainPageBotLogo{
    
    justify-content: flex-end;
}
.PhotoPageWhite{
    background-color: #FFFFFF;
}

.MainPageThreeImage{
    margin-top: 6.75%;
}
.PhotoPadding{
    padding: 6px;
    background-color: #FFFFFF;
}
.FugazFontTitle{
    font-family: 'Fugaz One', cursive;
    font-size: 50px;
    color: #5F002B;
}
.FugazNav{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    color: #5F002B;
}


.FooterBot{
    margin-bottom: 50px;
}


.PhotoBottomText{
    font-size: 20px;
    color: #5F002B;
    font-family: "Montauk light";
}
.PhotoTitle{
    font-size: 50px;
    color: #5F002B;
    font-weight: bold;
    font-family: "Montauk Bold";
}

.HeroImageMainAbout{
    background-image: url("../images/AboutMain.jpg");
    background-size: cover;
    background-position: center;
    height: 674.5px;
    max-width: 674.5px;
}

.BackgroundAboutWhite{
    background-color: #FFFFFF;
}

.BackgroundCateringWhite{
     background-color: #FFFFFF;
} 
.NavTextEnd{
    display: flex;
    justify-content: end;
}
@font-face{
    font-family:"Montauk Regular";
    src: url("../fonts/Montauk-Regular.otf");
}
@font-face{
    font-family:"Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}
.fontStyle2{
    font-family:"Montauk Light";
    font-size:20px ;
}
.fontStyle{
    font-family:"Montauk Regular";
}
.MarginBottomAboutText{
    margin-bottom: 3%;
}

.ImageSizeCard{
    height:537px;
    width:537px;
}

.paddingAboutText{
  padding-right: 7%;
  padding-left: 5%;
}

.Imagelength{
      height: 100%;
      width:100%;

}

  @font-face{
      font-family: "Montauk Regular";
      src: url("../fonts/Montauk-Regular.otf");
  }
  @font-face{
    font-family: "Montauk Italic";
    src: url("../fonts/Montauk-Italic.otf");
}
@font-face{
    font-family: "Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}
@font-face{
    font-family: "Montauk Bold";
    src: url("../fonts/Montauk-Bold.otf");
}



.MarginBottomCard{
    margin-bottom: 16.5%;
}
.FooterHeight{
    height: 0%;
}

  